<nav ngxNavbarDynamicExpand class="navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" (click)="collapse.toggle()" aria-controls="main-nav"
    aria-expanded="false" aria-label="Menu">
    <span class="
        navbar-toggler-icon
        d-flex
        align-items-center
        justify-content-center
      ">
    </span>
  </button>
  <ngx-navbar-collapse id="main-nav" #collapse="ngxNavbarCollapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Report</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Test List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="login()">Server Login</a>
      </li>

      
      
      <li class="nav-item">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>person</mat-icon>
        </button>
      </li>
    </ul>
  </ngx-navbar-collapse>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>person</mat-icon>
      <span>Account</span>
    </button>
    <button mat-menu-item>
      <mat-icon>lock</mat-icon>
      <span>Change Password</span>
    </button>
    <button mat-menu-item>
      <mat-icon>power-off</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</nav>
<router-outlet></router-outlet>


<!--
<br><br><br><br><br><br>
<mat-form-field appearance="outline">
  <mat-label>Select</mat-label>
  <mat-select>
    <mat-option value="one">First option</mat-option>
    <mat-option value="two">Second option</mat-option>
  </mat-select>
</mat-form-field>
<p></p>
<mat-form-field appearance="outline">
  <mat-label>Select Date</mat-label>
  <input matInput placeholder="Select Date" [matDatepicker]="picker">
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<p></p>
<p>
  <mat-form-field appearance="outline">
    <mat-label>Outline form field</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
</p>-->
<!--<router-outlet></router-outlet>-->
